{% extends "base.html" %}

{% block content %}
    

<div class="container mt-5 d-flex justify-content-center">
    <div class="row g-4">
      <!-- Card 1 -->
      <div class="col-md-6 d-flex justify-content-center">
        <div class="card shadow text-center" style="width: 22rem; height: 12rem;">
          <div class="card-body d-flex flex-column justify-content-center">
            <h5 class="card-title mb-3">Despesas do mês:</h5>
            <h2 class="fw-bold">R${{ total_value }}</h2>
          </div>
        </div>
      </div>
  
      <!-- Card 2 -->
      <div class="col-md-6 d-flex justify-content-center">
        <div class="card shadow text-center" style="width: 22rem; height: 12rem;">
          <div class="card-body d-flex flex-column justify-content-center">
            <h5 class="card-title mb-3">Total de Clientes</h5>
            <h2 class="fw-bold">{{ total_clients }}</h2>
          </div>
        </div>
      </div>
    </div>
</div>






{% endblock %}



{% if total_value > 0 %}
        <h1>R${{ total_value }}</h1>
    {% else %}
        <h1>No momento, você não tem desespesas cadastradas!</h1>
    {% endif %}